<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jabbar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.jabbar.permission.C2D_MESSAGE" />

    <permission
        android:name="com.rs.timepass.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_android_key" />

        <activity
            android:name=".Ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Ui.InputDataActivity"
            android:icon="@drawable/app_icon"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ui.VerifyCodeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Ui.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Ui.SettingActivity"
            android:label="@string/setting"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Ui.AccountActivity"
            android:label="@string/account"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Ui.ChatSettingActivity"
            android:label="@string/chat_setting"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Ui.SetWallpaperActivity"
            android:label="@string/set_wallpaper"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".MasterCrop.CropImageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Ui.ChangeAvatarActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/profile"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Ui.StatusActivity"
            android:label="@string/status"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Ui.AddStatusActivity"
            android:label="@string/status"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name=".Ui.PrivacyActivity"
            android:label="@string/privacy"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".Ui.ChatNewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Ui.ProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Ui.ViewStoryActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".Ui.AddStoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen">

        </activity>

        <activity
            android:name=".Ui.PreviewStoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />

        <activity
            android:name=".Ui.PreviewStoryImage"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />

        <activity
            android:name=".Ui.AuthenticationAlertActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />


        <receiver android:name=".Utils.IncomingSmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".Utils.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <!--PUSH NOTIFICATION-->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GCM.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".GCM.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".GCM.RegistrationIntentService"
            android:exported="true"></service>

        <!-- END PUSH NOTIFICATION-->
    </application>


</manifest>